@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html{
  height: 100%;
}

body {
  /* Стилизация */
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #E5E5E5;
  margin: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.site-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px #000000;
}

/* Header */

.page-header {
  /* Стилизация */
  font-weight: 700;
  text-transform: capitalize;
  /* Сетка */
  margin: 0 auto;
}

.header-navigation {
  font-size: 20px;
  line-height: 26px;
  /* Сетка */
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}

.container-logo {
  width: 240px;
  text-align: center;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 500px;
}

.navigation-item {
  margin: 10px 17px;
}

.navigation-item a{
  padding: 19px 0px;
}

.navigation-item:hover,
.navigation-item:focus {
  color: #756157;
  outline: none;
}

.navigation-item:active {
  color: #756157;
  opacity: 0.3;
}

.navigation-current-link {
  position: relative;
  border-bottom: 2px solid #0b0a09;
}

.menu-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  display: flex;
  padding-right: 70px;
  width: 265px;
  align-items: center;
}

.search-item{
  width: 42px;
}

.favorites-item{
  width: 42px;
  position: relative;
}

.navigation-icon {
  padding: 20px 12px;
}

.quantity-favorites {
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 10px;
  color: white;
  top: -25px;
  left: 24px;
  line-height: 18px;
}

.want-here {
  margin-left: 20px;
  padding: 8px 34px;
}

.quantity-favorites {
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
}

/* Buttons */

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.button-dark {
  background: #756157;
}

.button-dark:hover,
.button-dark:focus {
  background: #615048;
  outline: none;
}

.button-dark:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-light {
  background: #82B3D3;
}

.button-light:hover,
.button-light:focus {
  background: #68A2CA;
  outline: none;
}

.button-light:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-in-favorite {
  background: #7DB54F;
}

.button-in-favorite:hover,
.button-in-favorite:focus {
  background: #6C9E42;
  outline: none;
}

.button-apply:focus {
  outline: solid 2px #ffffff;
}

.button-in-favorite:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.view-button {
  padding: 12px 14px;
  border: solid 2px #E5E5E5;
  border-radius: 4px;
}

.view-button-current {
  border: solid 2px #000000;
}

.view-button:hover {
  border: solid 2px #000000;
}

.view-button:focus {
  border: solid 2px #68A2CA;
  outline: none;
}

.view-button:active {
  border: solid 2px #000000;
}

/* Main */
.main-index {
  text-align: center;
}

.greetings {
  background-color: #a4c9dd;
  background-image: url("../images/backgrounds/index-background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
}

.greetings-image {
  margin-top: 51px;
}

.mask {
  position: relative;
  bottom: -21px;
}

.main-index h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 63px 290px 31px;
}

.five-advantages {
  margin: 0 273px 90px 273px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.advantages-item {
  width: 400px;
  padding: 80px 85px;
  box-sizing: border-box;
  min-height: 383px;
}

.advantages-item h4 {
  margin: 102px 0 30px 0;
}

.advantages-item h3 {
  margin: 22px 0 30px 0;
}

.advantages-item p {
  margin: 30px 0;
}

.illustration-image{
  align-self: baseline;
}

.container-illustration-background {
  display: flex;
  max-height: 384px;
  align-items: center;
}

.container-illustration-background.reverse  {
  flex-direction: row-reverse;
}

.item-text {
  width: 400px;
  padding: 0 80px;
  box-sizing: border-box;
}

.item-text h3 {
  margin: 0;
  margin-bottom: 30px;
}

.item-text p {
  margin: 30px 0;
}

.advantages-city-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

.advantages-city-list .advantages-item{
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 75px 72px;
}

.advantages-city-list .advantages-item:nth-child(1) {
  background-image: url("../images/index/housing.svg");
}

.advantages-city-list .advantages-item:nth-child(2) {
  background-image: url("../images/index/food.svg");
}

.advantages-city-list .advantages-item:nth-child(3) {
  background-image: url("../images/index/souvenirs.svg");
}

.main-index h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.main-index h4 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.five-advantages {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.side-block {
  background: rgba(131, 179, 211, 0.12);
}

.central-block {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.interesting {
  height: 417px;
}

.interesting h2{
  padding-top: 91px;
  padding-bottom: 29px;
  margin: 0;
}

.interesting p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0px;
  padding-bottom: 76px;
}

.hotel-search-button {
  box-sizing:border-box;
  margin:0;
  padding: 20px 150px;
  line-height: 36px;
  font-size: 20px;
}

.container-illustration-background {
  background: #82B3D3;
  color: #FFFFFF;
}

.container-illustration-background p {
  color: #FFFFFF;
}

/* Footer */

.footer {
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.subscribe-form {
  text-align: center;
  min-height: 411px;
}

.subscribe-form h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.subscribe-form h3{
  margin-top: 94px;
  margin-bottom: 29px;
}

.subscribe-form p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 46px;
  padding: 0 330px;
}

.email-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
}

.email-form input{
  padding: 20px 20px;
  width: 560px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px 0 0 10px;
  background-color: #F2F2F2;
  border: none;
}

.subscribe-button {
  padding: 20px 40px;
  border-radius: 0 10px 10px 0;
  border: none;
}

.form-with-background {
  color: #FFFFFF;
  background: #82B3D3;
  background-image: url("../images/backgrounds/background-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.form-with-background p {
  color: #FFFFFF;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.social-media {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  color: #83B3D3;
}

.social-item {
  padding: 15px 13px;
}

.social-icon:focus {
  outline: none;
}

.social-item:hover,
.social-item:focus {
color: #68A2CA;
}

.social-item:active {
  color: #68A2CA;
  opacity: 0.3;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  width: 720px;
}

.phone:hover,
.phone:focus {
  color: #756157;
  outline: none;
}

.phone:active {
  color: #756157;
  opacity: 0.3;
}

.authors {
  width: 240px;
  text-align: center;
}

.authors a:hover {
  color: #756157;
}

.authors-link-icon:focus {
  outline: none;
  color: #756157;
}

.authors:active {
  color: #756157;
  opacity: 0.3;
}

/* Catalog form */

.filter-container {
  width: 1060px;
  padding: 35px 70px 70px 70px;
  margin-bottom: 72px;
  background-color: #a4c9dd;
  background-image: url("../images/backgrounds/filter-background.jpg"); /* Картинку поменять */
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-content {
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-catalog h1 {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  width: 100%;
}

.catalog-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.catalog-navigation-list {
  font-size: 16px;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px 6px;
}

.index-icon {
  padding-top: 5px;
}

.catalog-navigation-item {
  position: relative;
}

.catalog-navigation-item:not(:last-child) {
  margin-right: 25px;
}

.catalog-navigation-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-image: url("../images/filter/arrow.svg");
  width: 6px;
  height: 10px;
  background-repeat: no-repeat;
  top: 7px;
  margin-left: 10px;
}

.catalog-navigation-item:hover {
  opacity: 0.6;
}

.catalog-navigation-item:active {
  opacity: 0.3;
}

.filter-content h2 {
  font-size: 20px;
  line-height: 26px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
}

.filter-item {
  position: relative;
}

.filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.filter-item.label {
  position: relative;
}

input[type=checkbox] {
	visibility: hidden;
}

.control-input-checkbox::before {
  visibility: visible;
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
}

.filter-content h2{
  margin: 0 0 30px 0;
}

.filter-range {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 70px 1fr;
  width: 520px;
}

.filter-range-title {
  width: 400px;
  grid-column: 1/3;
}

.price-controls {
  display: grid;
  grid-template-columns: 1fr auto;
}

.min-price-input {
  padding: 10px 20px;
  background: rgba( 0,0,0,0);
  border: solid 2px #FFFFFF;
  color: white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 143px;
  border-radius: 4px 0px 0px 4px;
  box-sizing: border-box;
}

.max-price-input {
  padding: 10px 20px;
  background: rgba( 0,0,0,0);
  border: solid 2px white;
  color: white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 143px;
  border-left: none;
  border-radius: 0px 4px 4px 0px;
  box-sizing: border-box;
}

.range-controls {
  width: 285px;
  position: relative;
  grid-row: 3/4;
}

.scale {
  width: 100%;
  margin-top: 9px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
}

.bar {
  width: 80%;
  height: 4px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 1px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-form {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  grid-row: 2/4;
}

.button-apply {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  padding: 14px;
  margin-bottom: 20px;
  border: none;
}

.button-reset {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color:#FFFFFF;
  background-color:transparent;
  border: none;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:active {
  opacity: 0.3;
}

/* Section hotels-founded */

.hotels-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 72px 57px 72px;
}

.hotels-founded {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  width: 350px;
}

.select-control {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 287px;
  padding-left: 14px;
  height: 48px;
  font-size: 18px;
  border-color: #E5E5E5;
}

.view-container {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.hotels-list {
  margin: 0 73px;
  padding: 0;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 18px;
  list-style-type: none;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 66px;
  margin-bottom: 30px;
}

.hotel-card-item {
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 20px 140px;
  grid-template-rows: 211px 28px 21px 37px 37px;
  row-gap: 16px;
}

.hotel-card-link-title {
  grid-column: 1/4;
  grid-row: 2/3;
}

.hotel-card-link-image {
  grid-column: 1/4;
  grid-row: 1/2;
}

.hotel-card-image {
  margin-bottom: 16px;
}

.hotels-catalog h3 {
  font-size: 24px;
  line-height: 28px;
  margin:0
}

.hotel-card-item span {
  color: #333333;
}

.hotel-text {
  grid-column: 1/2;
}

.hotel-price {
  grid-column: 3/4;
}

.hotel-card-button {
  padding: 9px 15px;
  grid-column: 1/2;
}

.button-light {
  grid-column: 3/4;
}

.hotel-rating {
  grid-column:1/4;
  display: grid;
  grid-template-columns: 140px 20px 140px;
}

.hotel-card-stars{
  grid-column: 1/2;
}

.rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 9px 15px;
  grid-column: 2/4;
  background-color: #F2F2F2;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  width: 1055px;
  justify-content: space-between;
  margin: 0 73px;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-between;
  padding: 0px;
}

.pagination-link-current{
  background-color: #F2F2F2;
  padding: 15px 22px;
  border-radius: 4px;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 15px 22px;
  border-radius: 4px;
}

.hotels-quantity-container {
  display: flex;
  align-items: center;
  width: 386px;
  justify-content: space-between;
}

.quantity-hotels {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  height: 20px;
  width: 160px;
  padding-left: 14px;
  height: 38px;
  font-size: 18px;
  border-color: #E5E5E5;
}

