@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html{
  height: 100%;
}

body {
  /* Стилизация */
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #E5E5E5;
  margin: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.site-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 50px grey;
}

/* Header */

.page-header {
  /* Стилизация */
  font-weight: 700;
  text-transform: capitalize;
  /* Сетка */
  margin: 0 auto;
}

.header-navigation {
  font-size: 20px;
  line-height: 26px;
  /* Сетка */
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}

.container-logo {
  width: 240px;
  text-align: center;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 500px;
}

.navigation-item a{
  padding: 17px;
}

.menu-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  display: flex;
  padding-right: 70px;
  width: 265px;
}

.search-item{
  width: 42px;
}

.favorites-item{
  width: 42px;
}

.want-here {
  margin-left: 20px;
  padding: 8px 34px;
}

.quantity-favorites {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

/* Buttons */

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.button-dark {
  background: #756157;
}

.button-light {
  background: #82B3D3;
}

/* Main */
.main-index {
  text-align: center;
}

.greetings {
  background-color: #a4c9dd;
  background-image: url("../images/backgrounds/index-background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
}

.greetings-image {
  margin-top: 51px;
}

.mask {
  position: relative;
  bottom: -21px;
}

.main-index h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 63px 290px 31px;
}

.five-advantages {
  margin: 0 273px 90px 273px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.advantages-item {
  width: 400px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.illustration-image{
  align-self: baseline;
}

.container-illustration-background {
  display: flex;
  max-height: 384px;
  align-items: center;
}

.item-text {
  width: 400px;
  padding: 0 80px;
  box-sizing: border-box;
}

.advantages-city-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}


.main-index h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.main-index h4 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.five-advantages {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.side-block {
  background: rgba(131, 179, 211, 0.12);
}

.central-block {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.interesting {
  height: 417px;
}

.interesting h2{
  padding-top: 91px;
  padding-bottom: 29px;
  margin: 0;
}

.interesting p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0px;
  padding-bottom: 76px;
}

.hotel-search-button {
  box-sizing:border-box;
  margin:0;
  padding: 20px 150px;
  line-height: 36px;
  font-size: 20px;
}

.container-illustration-background {
  background: #82B3D3;
  color: #FFFFFF;
}

.container-illustration-background p {
  color: #FFFFFF;
}

/* Footer */

.footer {
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.subscribe-form {
  text-align: center;
  min-height: 411px;
}

.subscribe-form h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.subscribe-form h3{
  margin-top: 94px;
  margin-bottom: 29px;
}

.subscribe-form p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 46px;
  padding: 0 330px;
}

.email-form input{
  padding: 400px;
}

.subscribe-button {
  padding: 20px;
  border: none;
}

.form-with-background {
  color: #FFFFFF;
  background: #82B3D3;
  background-image: url("../images/backgrounds/background-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.form-with-background p {
  color: #FFFFFF;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.social-media {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.social-tem {
  width: 24px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  width: 720px;
}

.authors {
  width: 240px;
  text-align: center;
}

/* Catalog form */

.filter-container {
  width: 1060px;
  padding: 35px 70px 70px 70px;
  background-color: #a4c9dd;
  background-image: url("../images/backgrounds/background-footer.jpg"); /* Картинку поменять */
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-content {
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-catalog h1 {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  width: 100%;
}

.catalog-header {
  width: 100%;
}

.catalog-navigation-list {
  font-size: 16px;
  width: 120px;
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
}

.filter-content h2 {
  font-size: 20px;
  line-height: 26px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
}

.filter-range {
  width: 600px;
}

.button-apply {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.button-reset {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color:#FFFFFF;
  background-color:transparent;
  border: none;
}

/* Section hotels-founded */

.hotels-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 72px 57px 72px;
  width: 1200px;
}

.hotels-founded {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  width: 350px;
}

.select-control {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 290px;
}

.view-container {
  width: 140px;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.hotel-card-item {
  width: 340px;
}

.hotels-catalog h3 {
  font-size: 24px;
  line-height: 28px;
}

.rating-text {
  font-size: 16px;
  line-height: 20px;
}

.hotel-card-item span {
  color: #333333;
}

.rating-text {
  font-size: 16px;
  line-height: 20px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-between;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-between;
}

.pagination-link-current{
  background-color: #F2F2F2;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.hotels-quantity-container {
  display: flex;
  align-items: center;
  width: 386px;
  justify-content: space-between;
}

.quantity-hotels {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  height: 20px;
}

